# Capstone Project
### Segmenting and Clustering Neighborhoods in Toronto task 1
This is the project for the Applied Data Science Capstone

In [46]:
import pandas as pd
import numpy as np

print("Hello Capstone Project Course")

Hello Capstone Project Course

In [47]:
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

tables = pd.read_html(url)

df_codes = tables[0]
df_codes.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [48]:
df_codes =  df_codes[df_codes.Borough != 'Not assigned']
df_codes.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [51]:
df_new = df_codes.groupby('Postcode',as_index=False).aggregate({'Borough':'first','Neighborhood':', '.join}).reindex(columns=df_codes.columns)

df_new.loc[df_new['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df_new.loc[df_new['Neighborhood'] == 'Not assigned', 'Borough']

df_new.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [50]:
df_new.shape

(103, 3)